#root {

  
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.App{
  position: relative;
  background-image: url("src/assets/homepage_bg.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed ;
  background-size: cover;
  margin: 0 auto;
  height: 99vh;
  /* aspect-ratio: 10/16; */
  border: #160201 1px solid;
  font-family: 'Playfair Display', serif;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.Navbar{
  display: flex;
  flex-direction: row;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: #160201;
  color: #ffffff;

}
.NavbarLeft{
width: 50%;
height: 100%;
/* background-size: cover; */

}
.NavbarLeft img{
  max-height: 100%;
  
}
.NavbarRight{
  width: 50%;
  height: 100%;
}
.NavbarRight img{
  max-height: 100%;
  float: right;
  cursor: pointer;
}
.NavbarRight img:hover{
  opacity: 0.5;
}
.NavbarMenu{
  position: absolute;
  text-align: right;
  top: 0;
  left: 0;
  justify-content: right;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 2;
}
.NavbarMenu img{
  max-height: 16%;
  /* max-width: 10%; */
  /* float: right; */
  cursor: pointer;
}
.NavbarMenu img:hover{
  opacity: 0.5;
}
.NavbarMenuLinks{
  padding: 2%;
  font-weight: 700;
  font-size: 3vw;
  color: #ffffff;
}
.NavbarMenuLinks div{
  margin-bottom: 1%;
  letter-spacing: 2px;
}

.Content{
 height: 87vh;
}

.Footer{

  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #000000;
  color: #ffffff;
  text-align: center;

}


.Home{
}

.Hidden{
  display: none;
}