#root {

  
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.App{
  background-image: url("https://res.cloudinary.com/deepreadscloud/image/upload/v1696018547/homepage_bg_a87sgi.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-attachment:fixed ;
  background-size: cover;
  margin: 0 auto;
  /* height: 100vh; */
  /* aspect-ratio: 10/16; */
  border: #160201 1px solid;
  font-family: 'Playfair Display', serif;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.Navbar{
  display: flex;
  flex-direction: row;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: #160201;
  color: #ffffff;

}
.NavbarLeft{
width: 50%;
height: 100%;

}
.NavbarLeft img{
  max-height: 100%;
  
}
.NavbarRight{
  width: 50%;
  height: 100%;
}
.NavbarRight img{
  max-height: 100%;
  float: right;
  cursor: pointer;
}
.NavbarRight img:hover{
  opacity: 0.5;
}
.NavbarMenu{
  position: absolute;
  text-align: right;
  top: 0;
  left: 0;
  justify-content: right;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 3;
}
.NavbarMenu img{
  max-height: 16%;
  cursor: pointer;
}
.NavbarMenu img:hover{
  opacity: 0.5;
}
.NavbarMenuLinks{
  padding: 2%;
  font-weight: 700;
  font-size: 3vh;
  color: #ffffff;
}
.NavbarMenuLinks div{
  cursor: pointer;
  margin-bottom: 1%;
  letter-spacing: 2px;
}
.NavbarMenuLinks div:hover{
  color: #ffffff;
  opacity: 0.5;
}

.Content{

}

.Footer{
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
.Footer img{
  max-height: 100%;
  cursor: pointer;
  float: left;

  
}
.Footer img:hover{
  opacity: 0.5;
}


.Home{

}
.Banner{
  margin: 2%;
  cursor: pointer;
  z-index: 3;
}
.Banner :hover{
  position: relative;
  border: #ffffff 2px solid;
}
.MoodyJack{
  max-width: 96%;
}

.ReviewTextBlock{
  font-family: 'Caudex', serif;
  font-size: 1.4vh;
  background-color: #000000b7;
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding: 1%;
  word-spacing: 2px;
  text-align: left;
  letter-spacing: 1px;
  text-shadow: #000000 2px 2px 2px;
}


.Hidden{
  display: none;
}